.tab-group-block .tab-group-block__tabs {
	display: flex;
	width: 100%;
	box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
	background-color: #fff;
	padding: 0;
	margin: 0;
	justify-content: center;
}

.tab-group-block .tab-group-block__tab {
	display: block;
	padding: 0.5em 1em;
	flex-grow: 1;
	text-align: center;
}

.tab-group-block .tab-group-block__tab.tab-group-block__tab--selected {
	border-bottom: 3px solid #ccc;
}

