.tab-group-block .tab-group-block__tabs {
	display: flex;
	width: 100%;
	padding: 0;
	margin: 0;
	justify-content: left;
}

.tab-group-block .tab-group-block__tab {
	display: block;
	padding: 0.25em .5em;
	flex-grow: 0;
	border-radius: .25em .25em 0 0;
	border: 1px solid transparent;
	border-bottom: none;
	text-align: center;
	text-decoration: none;
}

.tab-group-block .tab-group-block__tab.tab-group-block__tab--selected {
	border-color: currentColor;
}

